/*========== [BudgieX Site CSS] ============*/
.hero-container {
    padding: 200px 15px;
}

.theme {
    color: rgb(46,113,223)
}

.theme-title {
    font-size: 50px;
    font-weight: bold;
}

.theme-title-leading {
    font-size: 20px;
    font-weight: bold;
}

.theme-subtitle {
    font-size: 15px;
    color: #686868;
}

@media only screen and (min-width: 425px) {
    .hero-container {
        padding: 200px 0px;
    }

    .theme-title {
        font-size: 80px;
    }

    .theme-title-leading {
        font-size: 30px;
    }
}