.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dollar {
  height: 100px;
  width: 100px;
}

.hero-container {
  padding: 200px 15px;
}

.theme {
  color: rgb(46,113,223)
}

.theme-title {
  font-size: 50px;
  font-weight: bold;
}

.theme-title-leading {
  font-size: 20px;
  font-weight: bold;
}

.theme-subtitle {
  font-size: 15px;
  color: #686868;
}

@media only screen and (min-width: 425px) {
  .hero-container {
    padding: 200px 0px;
  }

  .theme-title {
    font-size: 80px;
  }

  .theme-title-leading {
    font-size: 30px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
